APFTestingModel/Service References/EmailServiceReference/EmailServiceOperation1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://b.programming.sit.edu.au/EmailServiceOperation.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EmailService" />
  <xs:import schemaLocation="http://b.programming.sit.edu.au/EmailServiceOperation.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="SendEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EmailService" minOccurs="0" name="emailData" nillable="true" type="q1:EmailDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmailIsSent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="examId" type="q2:guid" />
        <xs:element minOccurs="0" name="success" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>